.chose-item {
    width: 94%;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    display: none;
  
  }
  .trang-thiet-bi-y-te {
    height: 700px;
  }
  @media (min-width: 500px) {
    .trang-thiet-bi-y-te {
      height: 350px;
    }
    .chose-item {
      width: 80%;
    }
  }